img {
    width: 40px;
    height: auto;
}

.header-container {
    height: 100px;
}

.bg-color1 {
    background-color:rgb(115, 180, 182);
}

.bg-color2 {
    background-color:rgb(95, 158, 160);
}

.bg-color3 {
    background-color:rgb(70, 135, 140);
}